<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>Signin View</title>

  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>
  <script src="../../bower_components/firebase/firebase.js"></script>
  <script src="../bootstap.js"></script>

  <link rel="import" href="../../src/chatroom-views/chatroom-signin-view.html">
</head>

<body>
  <test-fixture id="BasicView">
    <template>
      <chatroom-signin-view></chatroom-signin-view>
    </template>
  </test-fixture>

  <script>
    describe('signin-view tests', () => {

      let view;

      beforeEach(() => {
        view = fixture('BasicView');
        return firebase.auth().signOut();
      });

      describe('signin', () => {

        it('sets invalid to true if email or password inputs are invalid', () => {

          let signin;

          view.$.email.invalid = true;
          signin = view.signin({ type: 'test' });
          expect(signin).to.equal(false);
          expect(view.invalid).to.equal(true);

          view.$.password.invalid = true;
          signin = view.signin({ type: 'test' });
          expect(signin).to.equal(false);
          expect(view.invalid).to.equal(true);
        });

        it('clicks submitter when email and password are provided', (done) => {

          view.$.email.value = 'admin';
          view.$.password.value = 'admin';

          view.$.submitter.addEventListener('click', () => {
            done();
          });

          let signin = view.signin({ type: 'tap' });
          expect(signin).to.equal(true);
        });

        it('responds to enter key', (done) => {

          view.$.email.value = 'admin';
          view.$.password.value = 'admin';

          view.$.submitter.addEventListener('click', () => {
            done();
          });

          let signin = view.signin({ type: 'keyup', keyCode: 13 });
          expect(signin).to.equal(true);
        });
      });
    });
  </script>
</body>

</html>
